:root {
  --app-g: #3c3c3c;
  --app-g-hover: #676767;
  --app-w: #f5f5f5;
  --app-lb: #3dbeda;
  --app-db: #3d39e8;
  --char-unknown: red;
  --char-inanimate: black;
  --char-person: hsl(25, 48%, 24%);
  --char-fox: #db660d;
}