@tailwind base;
@tailwind components;
@tailwind utilities;

/********************/

:root {
  --theme-bright: rgb(60, 60, 60);
  --theme-bright-hover: rgb(70, 70, 70);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: hsla(0, 0%, 14%, 1);
  color: #f5f5f5;
}

header {
  background: linear-gradient(269.83deg, rgba(27, 55, 76, 0.57) 18.59%, rgba(27, 46, 60, 0.7) 75.28%);
  color: #f5f5f5;
}

header,
footer {
  .content-wrapper {
    @apply max-w-[1400px] my-0 mx-auto p-6;
  }
}

#pages-count {
  background: linear-gradient(261.97deg, #3dbeda, #3d39e8);
  -webkit-background-clip: text;
}

#character-count {
  background: linear-gradient(261.97deg, #da3d3d, #a431b9);
  -webkit-background-clip: text;
}

.search-box-clamp {
  width: clamp(4rem, 100%, 40rem);
  background: rgb(60, 60, 60);

  button {
    background: rgb(60, 60, 60);
    transition: background 250ms ease;

    &:hover {
      background: var(--theme-bright-hover);
    }
  }

  input[type="text"] {
    transition: all 250ms ease;
    background: rgb(60, 60, 60);
    color: #f5f5f5;
  }

  &:hover,
  &:focus-within {
    width: clamp(5rem, 100%, 65rem);
    box-shadow: 0 4px 15px rgba(black, 33%);
    
    input[type="text"] {
      color: #fff;
    }
  }
}

/*************/

.year-picker {
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

  @media only screen and (max-width: 480px) {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }
}

$gradient_border_padding: 2px;

label {
  border-width: $gradient_border_padding;
  border: solid #0000;
  background-clip: padding-box;

  &::before {
    content: '';
    display: block;
    margin: -$gradient_border_padding / 9999;
    position: absolute;
    border-radius: inherit;
    background: linear-gradient(261.97deg, rgba(61, 189, 218, 0.12), rgba(60, 57, 232, 0.12));
    box-shadow: 0 0 0px rgba(#3dbeda, 44%);
    inset: 0;
    z-index: -1;
  }
}

input:checked ~ label {
  @apply bg-slate-500;
  box-shadow: 0 0 6px rgba(#3dbeda, 44%);
  position: relative;
  background-clip: padding-box;
  border: solid #0000;

  &::before {
    content: "";
    margin: -$gradient_border_padding;
    display: block;
    position: absolute;
    border-radius: inherit;
    background: linear-gradient(261.97deg, #3dbeda, #3d39e8);
    inset: 0;
    z-index: -1;
  }
}

/*************/

#comic-item {
  background-color: var(--theme-bright-hover);
}