@tailwind base;
@tailwind components;
@tailwind utilities;

/********************/

:root {
  --app-g: #3c3c3c;
  --app-g-hover: #676767;
  --app-w: #f5f5f5;
  --app-lb: #3dbeda;
  --app-db: #3d39e8;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: hsla(0, 0%, 14%, 1);
  color: var(--app-w);
}

header {
  background: linear-gradient(269.83deg, rgba(27, 55, 76, 0.57) 18.59%, rgba(27, 46, 60, 0.7) 75.28%);
  color: var(--app-w);
}

header,
footer {
  .content-wrapper {
    @apply max-w-[1400px] my-0 mx-auto p-6;
  }
}

#pages-count {
  background: linear-gradient(261.97deg, var(--app-lb), var(--app-db));
  -webkit-background-clip: text;
}


#character-count {
  background: linear-gradient(261.97deg, #da3d3d, #a431b9);
  -webkit-background-clip: text;
}

.search-box-wrapper {
  &.lock {
    @apply fixed top-6 max-w-[700px] mx-0 my-auto z-10 pt-14 pb-4 -translate-y-[2.1em] transition-colors duration-300;
    background-color: rgba(27, 55, 76, 0.57);

    .search-box-clamp {
      @apply shadow-md;
    }

    ~ .year-picker {
      @apply mt-[105px];
    }
  }
}

@supports (backdrop-filter: blur(10px)) {
.search-box-wrapper.lock {
    backdrop-filter: blur(10px);
  }
}

.search-box-clamp {
  background: var(--app-g);

  button {
    background: var(--app-g);
    transition: background 250ms ease;

    &:hover {
      background: var(--app-g-hover);
    }
  }

  input[type="text"] {
    transition: all 250ms ease;
    background: var(--app-g);
    color: var(--app-w);
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 4px 15px rgba(#000, 33%);
    
    input[type="text"] {
      color: var(--app-w);
    }
  }
}

/*************/

.year-picker {
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

  @media only screen and (max-width: 480px) {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }
}

$gd-border: 2px;

@mixin yearPickerStyles {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: -1;
}

label {
  border-width: $gd-border;
  border: solid #0000;
  background-clip: padding-box;

  &::before {
    @include yearPickerStyles();
    margin: -$gd-border / 9999;
    background: linear-gradient(261.97deg, rgba(61, 189, 218, 0.12), rgba(60, 57, 232, 0.12));
    box-shadow: 0 0 0px rgba(var(--app-lb), 44%);
  }
}

input:checked ~ label {
  @apply bg-slate-500;
  box-shadow: 0 0 6px rgba(var(--app-lb), 44%);
  position: relative;
  background-clip: padding-box;
  border: solid #0000;

  &::before {
    @include yearPickerStyles();
    margin: -$gd-border;
    background: linear-gradient(261.97deg, var(--app-lb), var(--app-db));
  }
}

/*************/

#comic-item {
  background-color: var(--app-g-hover);
}

.show {
  background-color: var(--app-db);

  &:hover {
    background-color: #322fbf;
  }
  @apply pointer-events-auto opacity-100 translate-x-0 active:bg-red-700;
}