.wrapper {
  @apply gap-2 px-5 py-4 dark:bg-neutral-800 bg-gray-50 shadow-lg rounded-md flex flex-col;
}

[theme-override="dark"] .wrapper {
  @apply bg-neutral-800;
}

.heading-container {
  @apply flex items-center justify-between;
}

.heading-actions {
  @apply flex gap-x-2;
}

.heading {
  @apply font-bold text-xl italic px-2 py-1 -translate-x-1.5 rounded-md transition-colors duration-300;

  svg {
    @apply opacity-0 transition-all duration-300;
  }

  &:hover {
    @apply dark:bg-purple-700 bg-purple-500 text-white;

    svg {
      @apply opacity-100 text-white;
    }
  }
}

.buttons {
  @apply px-3.5 py-1.5 rounded-md;
}

.bookmark-btn {
  @extend .buttons;
  @apply dark:bg-yellow-900 dark:hover:bg-yellow-800 bg-yellow-200 hover:bg-yellow-300;
}

.link-btn {
  @extend .buttons;
  @apply dark:bg-neutral-900 dark:hover:bg-neutral-700 bg-neutral-200 hover:bg-neutral-300;
}

.image-container {
  @apply relative h-[600px] w-full;

  img {
    @apply select-none;
  }
}

.subheading {
  @apply text-xl flex items-center gap-x-1;
}

.count {
  @apply bg-opacity-40 dark:bg-opacity-40 px-2 py-0.5 rounded-md text-sm bg-purple-500;
}

.info-container {
  @apply flex flex-col justify-between;

  ul {
    @apply flex gap-1 flex-wrap;
  }

  :is(.char-item, .spacing) {
    @apply transition-all duration-150;
  }

  .char-item {
    @apply relative py-1 px-2.5 bg-opacity-25 rounded-md select-none text-sm cursor-pointer;

    &:hover {
      @apply dark:bg-purple-700 bg-purple-300 #{!important};
      @apply rounded-tr-none rounded-br-none;

      .spacing {
        @apply opacity-100 translate-x-0;
      }
    }
  }

  .spacing {
    @apply opacity-0 -translate-x-3 z-10 rounded-tr-md rounded-br-md p-[0.44rem] -right-6 top-0 absolute dark:bg-purple-800 bg-purple-400 pointer-events-none;
  }
}

.loading-container {
  @apply rounded-md;
  background: linear-gradient(
    90deg,
    theme("colors.gray.300") 0%,
    theme("colors.gray.300") 35%,
    theme("colors.gray.50") 50%,
    theme("colors.gray.300") 65%,
    theme("colors.gray.300") 100%
  );
  animation: gradient-scroll 2s infinite linear;
  background-size: 750% 750%;
}

@keyframes gradient-scroll {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
