.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#homeSearchContainer {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  row-gap: 2rem;
  align-items: center;
  flex-direction: column;
}

#headerWrapper {
  text-align: center;
  width: 700px;
  padding: 0.4rem;
  margin-top: 12vh !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
  h1 {
    text-align: center;
    max-width: 700px;
  }
}

#pagesCount, #characterCount {
  font-weight: 900;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

#pagesCount {
  background: linear-gradient(261.97deg, #3dbeda, #3d39e8);
  background-clip: text;
  -webkit-background-clip: text;
}

#characterCount {
  background: linear-gradient(261.97deg, #da3d3d, #a431b9);
  background-clip: text;
  -webkit-background-clip: text;
}
