@import "@fontsource/open-sans/500";
@import "@fontsource/open-sans/500-italic";
@import "@fontsource/open-sans/600";
@import "@fontsource/open-sans/600-italic";
@import "@fontsource/open-sans/700";
@import "@fontsource/open-sans/700-italic";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light dark;
    overflow-x: hidden;
    scroll-behavior: smooth;

    @media (prefers-reduced-motion) {
      scroll-behavior: auto;
    }
  }

  #__nuxt {
    min-height: 100dvh;
  }

  :root {
    --h: 230;

    --sp--light-bg: hsl(var(--h), 77%, 96%);
    --sp--light1: hsl(var(--h), 77%, 93%);
    --sp--light2: hsl(var(--h), 77%, 85%);
    --sp--light3: hsl(var(--h), 88%, 66%);
    --sp--light4: hsl(var(--h), 88%, 58%);
    --sp--light-text: hsl(var(--h), 9%, 11%);

    --sp--dark-bg: hsl(var(--h), 33%, 10%);
    --sp--dark1: hsl(var(--h), 60%, 16%);
    --sp--dark2: hsl(var(--h), 60%, 24%);
    --sp--dark3: hsl(var(--h), 70%, 48%);
    --sp--dark4: hsl(var(--h), 70%, 52%);
    --sp--dark-text: hsl(var(--h), 9%, 92%);
  }
}

.light-mode {
  --sp-text: var(--sp--light-text);
  --sp-background: var(--sp--light-bg);

  --sp-comic-item: var(--sp--light1);
  --sp-ci-border: var(--sp--light3);
  --sp-nav-border: var(--sp--light4);

  --sp-modal-window: var(--sp--light-bg);
  --sp-modal-highlight: var(--sp--light1);

  --sp-button: var(--sp--light2);
  --sp-button--hover: var(--sp--light3);
  --sp-button-ghost--hover: var(--sp--light2);
  --sp-button-border: var(--sp--light3);
  --sp-button-active: var(--sp--light4);
  --sp-button-active--hover: var(--sp--light3);
}
.dark-mode {
  --sp-text: var(--sp--dark-text);
  --sp-background: var(--sp--dark-bg);

  --sp-comic-item: var(--sp--dark1);
  --sp-ci-border: #0000;
  --sp-nav-border: var(--sp--dark4);
  --sp-tooltip-border: var(--sp--dark4);

  --sp-modal-window: var(--sp--dark-bg);
  --sp-modal-highlight: var(--sp--dark1);

  --sp-button: var(--sp--dark2);
  --sp-button--hover: var(--sp--dark3);
  --sp-button-ghost--hover: var(--sp--dark2);
  --sp-button-border: var(--sp--dark3);
  --sp-button-active: var(--sp--dark4);
  --sp-button-active--hover: var(--sp--dark3);

  --sp-input-bg: var(--sp--dark1);
  --sp-dropdown-bg: var(--sp--dark1);
}

body {
  @apply text-[var(--sp-text)] bg-[var(--sp-background)] font-medium;
}

@layer components {
  .bui-card-item {
    @apply border-[var(--sp-ci-border)] bg-[var(--sp-comic-item)];
  }
}
