.wrapper {
  @apply flex flex-col items-center justify-center z-10 h-[600px];

  &-hidden {
    @extend .wrapper;
    @apply hidden;

    .circle {
      animation-play-state: paused;
    }
  }
}

#label {
  @apply text-center text-purple-800 font-semibold;
}

.circle {
  @apply relative h-[100px] w-[100px];
  animation: strokeRotate 0.5s linear infinite;

  svg circle {
    @apply fill-transparent stroke-[8];
    stroke: theme("colors.purple.500");
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-linecap: round;
    animation: strokePulse 2s steps(300) both infinite;
  }
}

@keyframes strokePulse {
  0% {
    stroke-dashoffset: 225;
  }
  50% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 225;
  }
}

@keyframes strokeRotate {
  100% {
    transform: rotate(360deg);
  }
}
