// TODO: Needs clean up and refactoring and let Tailwind do the heavy lifting

.char-inline {
  @apply px-[0.55rem] py-[4px] rounded-md text-sm;
}

.video-store-clerk,
.random-people,
.reporter,
.crazy-old-man-who-only-speaks-in-limericks,
.uncle-reuben,
.mr\.-dna,
.news-anchor {
  background: var(--char-person);
}

.tv {
  background: var(--char-inanimate);
}

.\?\?\?,
.source-of-unspeakable-power {
  background: var(--char-unknown);
  color: #000;
}

/************/

.grape {
  background: #c694c7;
}

.peanut {
  background: #6b5019;
}

.king {
  background: #e0b574;
}

.bailey {
  background: #76758f;
}

.res {
  background: #b2b2b2;
  color: #000;
}

.great-kitsune {
  background: #faebd9;
  color: #000;
}

.lois {
  background: #b2b9ca;
  color: #000;
}

.kitten-maxwell,
.maxwell {
  background: #645b59;
}

.sabercat {
  background: #ffffcb;
  color: #000;
}

.tarot {
  background: #eac48f;
  color: #000;
}

.sabrina {
  background: #3a3a3a;
}

.joey {
  background: #a36a50;
}

.squeak {
  background: #898989;
}

.mungo {
  background: #585e6e;
}

.fox {
  background: #bebebe;
  color: #000;
}

.sasha {
  background: #ebe1d7;
  color: #a35942;
}

.fido {
  background: #ddad74; // sp-pale
  color: #4a3223; // sp-brown
}

.kevin {
  background: #4a3223; // sp-brown
  color: #ddad74; // sp-pale
}

.marion {
  background: #8a7f7c;
}

.poncho {
  background: #b6c2be;
  color: #000;
}

.thomas {
  background: #966541;
}

.satau {
  background: #3f424e;
}

.karishad {
  background: #2b2b2b;
}

.zach {
  background: #d1ceee;
  color: #000;
}

.rufus {
  background: #a5bbd1;
  color: #9a4f09;
}

.coyote {
  background: #a19491;
}

.crow {
  background: #666364;
}
