.main {
  display: flex;
  justify-content: center;
}

#homeSearchContainer {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-top: 8vh;
    text-align: center;
    max-width: 700px;
    padding: 1rem;
  }
}

#pagesCount, #characterCount {
  font-weight: 900;
}

#pagesCount {
  background: linear-gradient(261.97deg, #3dbeda 53.17%, #3d39e8 72.83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#characterCount {
  background: linear-gradient(261.97deg, #da3d3d 53.17%, #cf39e8 72.83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

