.wrapper {
  @apply gap-2 px-5 py-4 dark:bg-neutral-800 bg-neutral-50 shadow-lg rounded-md flex flex-col border-2 border-transparent;

  @media (min-width: 1024px) {
    height: 680px;
  }

  &:nth-child(odd) {
    // @apply bg-gray-900;
  }

  &:target {
    @apply dark:bg-violet-900 dark:bg-opacity-30 border-purple-400 transition-colors duration-300;
  }
}

.wrapper-guest {
  @extend .wrapper;
  @apply relative dark:bg-[#25253b] bg-indigo-100 dark:border-indigo-900;
}

[theme-override="dark"] .wrapper {
  @apply bg-neutral-800;
}

.heading-container {
  @apply flex items-center justify-between;
}

.heading-actions {
  @apply flex gap-x-2;
}

.heading {
  @apply font-bold text-xl italic px-2 py-1 -translate-x-1.5 rounded-md transition-colors duration-300;

  svg {
    @apply opacity-0 transition-all duration-300;
  }

  &:hover {
    @apply dark:bg-purple-700 bg-purple-500 text-white;

    svg {
      @apply opacity-100 text-white;
    }
  }
}

.buttons {
  @apply px-4 py-3.5 rounded-md flex;
}

.bookmark-btn {
  @extend .buttons;
  @apply dark:bg-yellow-900 dark:hover:bg-yellow-800 bg-yellow-200 hover:bg-yellow-300;
}

.link-btn {
  @extend .buttons;
  @apply dark:bg-neutral-900 dark:hover:bg-neutral-700 bg-neutral-200 hover:bg-neutral-300;
}

.image-container {
  @apply relative w-full;

	--comic-rel-size: 1;

  @media (min-width: 413px) {
    --comic-rel-size: 1.4;
  }

  @media (min-width: 700px) {
    --comic-rel-size: 2.1 !important;
  }

  @media (min-width: 500px) {
    --comic-rel-size: 1.75;
  }

  height: calc(var(--comic-height-column) * var(--comic-rel-size));

  @media (min-width: 1024px) {
    height: 690px;
  }

  img {
    @apply select-none;
  }
}

.subheading {
  @apply text-xl flex items-center gap-x-1;
}

.count {
  @apply bg-opacity-40 dark:bg-opacity-40 px-2 py-0.5 rounded-md text-sm bg-purple-500;
}

.info-container {
  @apply flex flex-col justify-between gap-y-1;

  ul {
    @apply flex gap-1 flex-wrap;
  }

  :is(.char-item, .spacing) {
    @apply transition-all duration-150;
  }

  .char-item {
    @apply relative py-1 px-2.5 bg-opacity-25 rounded-md select-none text-sm cursor-pointer;

    &:hover {
      @apply dark:bg-purple-700 bg-purple-300 #{!important};
      @apply rounded-tr-none rounded-br-none;

      .spacing {
        @apply opacity-100 translate-x-0;
      }
    }
  }

  .spacing {
    @apply opacity-0 -translate-x-3 z-10 rounded-tr-md rounded-br-md p-[0.44rem] -right-6 top-0 absolute dark:bg-purple-800 bg-purple-400 pointer-events-none;
  }
}

.loading-container {
  @apply rounded-md h-full w-full;
  background: linear-gradient(
    128deg,
    theme("colors.neutral.200") 0%,
    theme("colors.neutral.200") 35%,
    theme("colors.neutral.400") 50%,
    theme("colors.neutral.200") 65%,
    theme("colors.neutral.200") 100%
  );

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(
      128deg,
      theme("colors.neutral.700") 0%,
      theme("colors.neutral.700") 35%,
      theme("colors.neutral.900") 50%,
      theme("colors.neutral.700") 65%,
      theme("colors.neutral.700") 100%
    );
    background-size: 750% 750%;
  }

  animation: gradientScroll 2s infinite linear;
  background-size: 750% 750%;

  &:is(:first-child, :last-child) {
    @apply h-[4.5rem];
  }

  &:first-child {
    animation-delay: 150ms;
  }

  &:last-child {
    animation-delay: -150ms;
  }
}

@keyframes gradientScroll {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
